* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container2 {
  width: 100%;
  max-width: 1690px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

header {
  height: 145px;
  width: 100%;
}

header .sectionTop {
  height: 45px;
  background-color: #333333;
  padding: 0 0 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header .sectionTop-currency {
  color: #777;
  font-size: 13px;
  display: inline-block;
  padding-top: 15px;
}

header .sectionTop-currency a {
  color: #777;
}

header .sectionTop-currency p,
header .sectionTop-currency ul {
  display: inline-block;
}

header .sectionTop-currency ul::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotateZ(45deg) translateX(-50%);
  transform: rotateZ(45deg) translateX(-50%);
  position: absolute;
  top: 0;
  left: 47%;
  background-color: #fff;
  z-index: -10;
}

header .sectionTop-currency ul {
  position: absolute;
  top: 120%;
  left: 60%;
  z-index: 100;
  display: none;
  line-height: 20px;
  background-color: #fff;
  height: 0;
}

header .sectionTop-currency ul li:hover {
  background-color: #fff;
}

header .sectionTop-currency ul li {
  padding: 5px 0;
}

header .sectionTop-currency ul li a {
  display: block;
  padding: 0 20px;
}

header .sectionTop-account {
  float: right;
  display: inline-block;
}

header .sectionTop-account a:hover {
  color: #00c8c8;
}

header .sectionTop-account a {
  color: #999;
  font-size: 13px;
  margin-right: 30px;
  display: inline;
}

header .sectionTop-account .sign {
  margin-right: 75px;
}

header .sectionTop-account__profile {
  display: inline-block;
  padding: 0 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #00c8c8;
  height: 45px;
  line-height: 45px;
}

header .sectionTop-account__profile a:hover {
  color: #fff;
}

header .sectionTop-account__profile a {
  margin: 0;
  color: #fff;
  vertical-align: middle;
}

header .sectionTop-account__profile .fa-shopping-cart {
  font-size: 20px;
  margin-right: 10px;
}

header .sectionTop-account__profile i {
  font-size: 13px;
  color: #fff;
}

header .sectionBottom {
  height: 100px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 60;
}

header .sectionBottom .logo {
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 100px;
  font-weight: bold;
}

header .sectionBottom .logo span {
  font-weight: 400;
}

header .sectionBottom-rightSection {
  float: right;
  display: inline-block;
  margin-top: 36px;
}

header .sectionBottom-rightSection nav {
  margin-right: 10px;
  display: inline-block;
}

header .sectionBottom-rightSection nav ul li:hover a,
header .sectionBottom-rightSection nav ul li:hover i {
  color: #00c8c8;
}

header .sectionBottom-rightSection nav ul li:nth-child(2) {
  padding-left: 0;
}

header .sectionBottom-rightSection nav ul li:nth-child(5) {
  padding-right: 0;
}

header .sectionBottom-rightSection nav ul .nav-currency {
  display: none;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

header .sectionBottom-rightSection nav ul li:hover .underList {
  display: block;
  -webkit-animation: fadeInDown 0.3s ease;
  animation: fadeInDown 0.3s ease;
}

header .sectionBottom-rightSection nav ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  padding-bottom: 20px;
  position: relative;
}

header .sectionBottom-rightSection nav ul li a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}

header .sectionBottom-rightSection nav ul li i {
  display: block;
}

header .sectionBottom-rightSection nav ul li .underList {
  display: none;
  width: 465px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 00px 10px 60px -25px;
  box-shadow: 00px 10px 60px -25px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 0;
  -webkit-animation: fadeInDown 0.3s ease;
  animation: fadeInDown 0.3s ease;
}

header .sectionBottom-rightSection nav ul li .underList ul:nth-child(2) {
  width: 40%;
}

header .sectionBottom-rightSection nav ul li .underList ul {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

header .sectionBottom-rightSection nav ul li .underList ul li {
  display: block;
  padding: 0;
}

header .sectionBottom-rightSection nav ul li .underList ul li a {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 0;
  display: block;
  color: #000;
}

header .sectionBottom-rightSection nav ul li .underList ul li a:hover {
  color: #00c8c8;
}

header .sectionBottom-rightSection nav ul li .underList ul .ulH {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 0;
}

header .sectionBottom-rightSection nav ul li .underList .sale:hover {
  opacity: 0.8;
}

header .sectionBottom-rightSection nav ul li .underList .sale {
  display: block;
  margin-top: 30px;
}

header .sectionBottom-rightSection nav ul li .underList .sale img {
  max-width: 100%;
}

header .sectionBottom-rightSection nav ul li:nth-child(6) .underList {
  left: -100px;
}

header .sectionBottom-rightSection nav ul li:nth-child(6) .underList ul {
  width: 55%;
}

header .sectionBottom-rightSection nav ul li:nth-child(6) .underList ul:nth-child(2) {
  width: 40%;
}

header .sectionBottom-rightSection .search {
  display: inline-block;
  vertical-align: top;
  width: 190px;
}

header .sectionBottom-rightSection .search .searchCancel {
  display: none;
}

header .sectionBottom-rightSection .search input::-webkit-input-placeholder {
  color: #989898;
  font-size: 13px;
}

header .sectionBottom-rightSection .search input:-moz-placeholder {
  color: #989898;
  font-size: 13px;
}

header .sectionBottom-rightSection .search input::-moz-placeholder {
  color: #989898;
  font-size: 13px;
}

header .sectionBottom-rightSection .search input:-ms-input-placeholder {
  color: #989898;
  font-size: 13px;
}

header .sectionBottom-rightSection .search input,
header .sectionBottom-rightSection .search button {
  width: 155px;
  height: 30px;
  padding: 0 10px;
  float: left;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  background-color: #f8f8f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #989898;
}

header .sectionBottom-rightSection .search button {
  width: 35px;
  border-left: none;
}

header .sectionBottom-rightSection .search input {
  border-right: none;
}

header .sectionBottom-rightSection .humburger {
  display: none;
}

@media only screen and (min-width: 1399px) {
  header .sectionBottom-rightSection nav {
    margin-right: 110px;
  }
}

@media only screen and (max-width: 1200px) {
  header .sectionBottom-rightSection nav {
    position: absolute;
    width: 0;
    min-height: 80vh;
    padding: 40px 0;
    margin: 0;
    top: 0;
    right: -30px;
    z-index: 500;
    background-color: #f8f8f8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  header .sectionBottom-rightSection nav ul {
    width: 240px;
    margin-top: 50px;
  }

  header .sectionBottom-rightSection nav ul li:nth-child(2) {
    padding-left: 25px;
  }

  header .sectionBottom-rightSection nav ul li:nth-child(6) .underList ul {
    width: 100%;
  }

  header .sectionBottom-rightSection nav ul li:nth-child(6) .underList ul:nth-child(2) {
    width: 100%;
  }

  header .sectionBottom-rightSection nav ul li {
    display: block;
    padding: 5px 0 5px 25px;
  }

  header .sectionBottom-rightSection nav ul li i {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
  }

  header .sectionBottom-rightSection nav ul li .underList {
    display: block;
    position: static;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  header .sectionBottom-rightSection nav ul li .underList .sale {
    display: none;
  }

  header .sectionBottom-rightSection nav ul li .underList ul {
    display: block;
    padding: 8px 0 5px 10px;
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  header .sectionBottom-rightSection nav ul li .underList ul li a {
    padding-left: 10px;
  }

  header .sectionBottom-rightSection nav ul li .underList ul .ulH {
    padding-left: 0;
    padding-bottom: 10px;
  }

  header .sectionBottom-rightSection nav ul li .underList ul:nth-child(2) {
    width: 100%;
  }

  header .sectionBottom-rightSection nav ul .nav-currency {
    display: block;
  }

  header .sectionBottom-rightSection nav ul .nav-currency a {
    font-weight: 400;
    font-size: 14px;
  }

  header .sectionBottom-rightSection nav ul .nav-currency .underList {
    height: 0;
    width: 100px;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 5px 0 0 37px;
  }

  header .sectionBottom-rightSection nav ul .nav-currency .underList li {
    padding: 5px 0;
    display: block;
  }

  header .sectionBottom-rightSection nav ul .nav-currency .underList li a {
    color: #000;
  }

  header .sectionBottom-rightSection nav ul .activeList .underList {
    height: auto;
    padding: 10px 0;
    margin: 10px 0;
  }

  header .sectionBottom-rightSection nav ul .activeList .currency {
    margin: 5px 0 0 37px;
  }

  header .sectionBottom-rightSection .menuToggle {
    width: 280px;
  }

  header .sectionBottom-rightSection .humburger {
    display: inline-block;
    vertical-align: -10px;
    width: 30px;
    height: 20px;
    position: relative;
    background-color: transparent;
    margin-left: 40px;
    outline: 0;
    z-index: 510;
  }

  header .sectionBottom-rightSection .humburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #989898;
    position: absolute;
    top: 50%;
    margin-top: -1px;
  }

  header .sectionBottom-rightSection .humburger span::before,
  header .sectionBottom-rightSection .humburger span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #989898;
    position: absolute;
    top: -8.5px;
    margin-top: -1px;
  }

  header .sectionBottom-rightSection .humburger span::after {
    top: 9.5px;
  }

  header .sectionBottom-rightSection .humburgerToggle span {
    background-color: transparent;
  }

  header .sectionBottom-rightSection .humburgerToggle span::before,
  header .sectionBottom-rightSection .humburgerToggle span::after {
    top: 0;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }

  header .sectionBottom-rightSection .humburgerToggle span::after {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
}

@media only screen and (max-width: 760px) {
  header .sectionTop-account .reg {
    margin-right: 0;
  }

  header .sectionTop-account .sign {
    margin-right: 30px;
  }

  header .sectionTop-account .sign::before {
    content: '|';
    display: inline;
    margin-right: 3px;
  }

  header .sectionBottom-rightSection .search {
    position: relative;
    width: 35px;
  }

  header .sectionBottom-rightSection .search input:focus {
    width: 200px;
    z-index: 0;
    padding-right: 40px;
    background-color: #fff;
  }

  header .sectionBottom-rightSection .search input {
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    border-right: 1px solid #e7e7e7;
    background-color: transparent;
  }

  header .sectionBottom-rightSection .search input::-webkit-input-placeholder {
    color: transparent;
  }

  header .sectionBottom-rightSection .search input:-moz-placeholder {
    color: transparent;
  }

  header .sectionBottom-rightSection .search input::-moz-placeholder {
    color: transparent;
  }

  header .sectionBottom-rightSection .search input:-ms-input-placeholder {
    color: transparent;
  }

  header .sectionBottom-rightSection .search button {
    border: none;
    z-index: 50;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 45px;
  }

  header .sectionTop .reg,
  header .sectionTop .sign {
    display: none;
  }

  header .sectionTop-currency {
    display: none;
  }

  header .sectionTop-account__profile {
    position: relative;
    z-index: 50;
    padding: 0 25px 0 15px;
    background-color: transparent;
  }

  header .sectionTop-account__profile .fa-shopping-cart {
    margin-right: 5px;
    font-size: 24px;
    color: #989898;
  }

  header .sectionTop-account__profile i {
    color: #989898;
  }

  header .sectionTop-account__profile .shoppStatus {
    display: none;
  }

  header .sectionBottom {
    position: absolute;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 50;
    padding: 0 20px;
  }

  header .sectionBottom .logo {
    display: inline-block;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 0;
    color: #fff;
    overflow: hidden;
    color: #eee;
    width: 39px;
  }

  header .sectionBottom .logo span {
    display: none;
  }

  header .sectionBottom-rightSection {
    margin-top: 8px;
    position: absolute;
    top: 0;
  }

  header .sectionBottom-rightSection nav {
    left: -20px;
    top: -8px;
    right: auto;
    min-height: 100vh;
  }

  header .sectionBottom-rightSection .humburger {
    float: left;
    margin-top: 4px;
    margin-left: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  header .sectionBottom-rightSection .search {
    margin-left: 20px;
  }

  header .sectionBottom-rightSection .search input {
    border: none;
    background-color: transparent;
  }

  header .sectionBottom-rightSection .search input:focus {
    width: 35px;
  }

  header .sectionBottom-rightSection .search button {
    background-color: transparent;
  }

  header .sectionBottom-rightSection .activeSearch::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 45px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  header .sectionBottom-rightSection .activeSearch {
    position: fixed;
    top: 60px;
    left: 0;
    margin: 0;
    margin: 0 5%;
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 50;
    height: 30px;
  }

  header .sectionBottom-rightSection .activeSearch input {
    width: 75%;
    right: auto;
    left: 0;
    background-color: #fff;
    padding-right: 40px;
  }

  header .sectionBottom-rightSection .activeSearch input:focus {
    width: 75%;
  }

  header .sectionBottom-rightSection .activeSearch button {
    left: auto;
    right: 0;
    position: absolute;
    margin: 0;
    background-color: transparent;
    z-index: 100;
  }

  header .sectionBottom-rightSection .activeSearch .searchCancel {
    display: block;
    width: 25%;
    min-width: 70px;
    text-align: right;
    color: #fff;
    z-index: 100;
  }

  header .sectionBottom-rightSection .activeSearch .fa-search {
    right: 25%;
    margin: 0;
  }
}

.hero {
  height: 100vh;
  max-height: 910px;
  width: 100%;
  position: relative;
  background-color: #f8f8f8;
  top: -100px;
  z-index: 10;
  overflow: hidden;
}

.hero .container2 {
  background-image: url("../img/heroImg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto 100%;
}

.hero h1 {
  font-size: 450px;
  color: #575153;
  text-align: center;
  line-height: 810px;
}

.hero h1 span {
  display: inline-block;
}

.hero h1 .h1V {
  margin: 0 10%;
}

.hero-linkShop {
  color: #454647;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 30px;
  border: 2px solid #737373;
  position: absolute;
  bottom: 13%;
  right: 200px;
  letter-spacing: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hero-linkShop:hover {
  color: #fff;
  background-color: #737373;
}

@media only screen and (max-width: 1700px) {
  .hero {
    height: 650px;
    background-position: 0% 0;
  }

  .hero h1 {
    font-size: 300px;
    line-height: 650px;
  }

  .hero-linkShop {
    bottom: 13%;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 1100px) {
  .hero h1 {
    font-size: 240px;
  }

  .hero h1 .h1V {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 760px) {
  .hero {
    height: 500px;
  }

  .hero .container2 {
    background-position: 30% 0;
  }

  .hero h1 {
    font-size: 150px;
    line-height: 500px;
  }

  .hero-linkShop {
    letter-spacing: 0;
    right: 10%;
    padding: 10px 20px;
    font-size: 14px;
    bottom: 20%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.9);
  }
}

@media only screen and (max-width: 480px) {
  .hero {
    height: 440px;
    top: 0;
    margin-bottom: 100px;
  }

  .hero h1 {
    font-size: 100px;
    line-height: 360px;
  }
}

.productItems {
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.productItems .container2 {
  padding: 50px 0 60px 0;
  border: 1px solid #f8f8f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: none;
  border-left: none;
  margin-top: -40px;
}

.productItems ul {
  margin-bottom: 55px;
}

.productItems ul .productItemsActive {
  color: #00c8c8;
}

.productItems ul li {
  display: inline-block;
  margin-right: 55px;
}

.productItems ul li a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #727272;
}

.productItems ul li a:hover {
  color: #00c8c8;
}

.productItems .content {
  width: 100%;
  height: 800px;
  margin: -15px;
}

.productItems .contentL,
.productItems .contentR {
  display: inline-block;
  width: 50%;
  float: left;
  height: 100%;
}

.productItems .contentL .box,
.productItems .contentR .box {
  position: relative;
}

.productItems .contentL .box:hover,
.productItems .contentR .box:hover {
  z-index: 50;
}

.productItems .contentL .box:hover .item,
.productItems .contentR .box:hover .item {
  -webkit-box-shadow: 0px 24px 60px -25px;
  box-shadow: 0px 24px 60px -25px;
}

.productItems .contentL .box:hover .productTitle,
.productItems .contentR .box:hover .productTitle {
  -webkit-box-shadow: 0px 15px 60px -25px;
  box-shadow: 0px 15px 60px -25px;
}

.productItems .contentL .box:hover .productTitle,
.productItems .contentR .box:hover .productTitle {
  opacity: 1;
  top: 100%;
}

.productItems .contentL .box:hover .productPrev,
.productItems .contentR .box:hover .productPrev {
  right: 3%;
  opacity: 1;
}

.productItems .contentL .box:hover .fa-info,
.productItems .contentR .box:hover .fa-info {
  opacity: 1;
  top: 50%;
}

.productItems .contentL .box:nth-child(1),
.productItems .contentL .box:nth-child(2),
.productItems .contentR .box:nth-child(1),
.productItems .contentR .box:nth-child(2) {
  float: left;
  display: inline-block;
  width: 50%;
  height: 40%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.productItems .contentL .box:nth-child(3),
.productItems .contentR .box:nth-child(3) {
  display: inline-block;
  width: 100%;
  height: 60%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.productItems .contentL .box:nth-child(3) .item,
.productItems .contentR .box:nth-child(3) .item {
  max-height: 700px;
  max-width: 100%;
}

.productItems .contentL .item,
.productItems .contentR .item {
  width: 100%;
  height: 100%;
  max-width: 420px;
  max-height: 500px;
  background-color: #f8f8f8;
  position: relative;
}

.productItems .contentL .item .fa-info,
.productItems .contentR .item .fa-info {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  line-height: 40px;
  font-size: 30px;
  top: 45%;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: -20px;
  opacity: 0;
  text-align: center;
  mix-blend-mode: screen;
}

.productItems .contentL .item .price,
.productItems .contentR .item .price {
  position: absolute;
  top: 2%;
  left: 2%;
  color: #9a9a9a;
}

.productItems .contentL .item .price span,
.productItems .contentR .item .price span {
  display: inline-block;
  vertical-align: middle;
}

.productItems .contentL .item .price .oldPrice,
.productItems .contentR .item .price .oldPrice {
  margin-right: 10px;
}

.productItems .contentL .item .productTitle,
.productItems .contentR .item .productTitle {
  display: block;
  position: absolute;
  top: 80%;
  opacity: 0;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.productItems .contentL .item .productTitle h4,
.productItems .contentR .item .productTitle h4 {
  font-size: 13px;
  color: #727272;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.productItems .contentL .item .productTitle p,
.productItems .contentR .item .productTitle p {
  font-size: 15px;
  color: #8e8c8c;
  margin-bottom: 15px;
}

.productItems .contentL .item .productTitle .productActions button,
.productItems .contentR .item .productTitle .productActions button {
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #727272;
}

.productItems .contentL .item .productTitle .productActions button:hover,
.productItems .contentR .item .productTitle .productActions button:hover {
  background-color: #00c8c8;
}

.productItems .contentL .item .productImg,
.productItems .contentR .item .productImg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.productItems .contentL .item .productImg img,
.productItems .contentR .item .productImg img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
}

.productItems .contentL .item .productPrev,
.productItems .contentR .item .productPrev {
  display: inline-block;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 3%;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.productItems .contentL .item .productPrev img,
.productItems .contentR .item .productPrev img {
  max-width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10%;
}

.productItems .contentR .box:nth-child(1) {
  width: 100%;
  float: none;
  height: 60%;
}

.productItems .contentR .box:nth-child(1) .item {
  max-width: 100%;
}

.productItems .contentR .box:nth-child(3) {
  width: 50%;
  float: left;
  height: 40%;
}

.productItems .contentR .box:nth-child(3) .item {
  max-width: 420px;
}

@media only screen and (max-width: 980px) {
  .productItems {
    padding: 0px 30px;
  }

  .productItems ul li {
    margin-right: 30px;
  }

  .productItems .content {
    height: auto;
    margin-right: 0;
    margin-bottom: 0;
  }

  .productItems .contentL,
  .productItems .contentR {
    display: block;
    width: 100%;
    float: none;
    height: 650px;
  }
}

@media only screen and (max-width: 760px) {
  .productItems {
    padding: 0 20px;
  }

  .productItems .container2 {
    padding: 30px 0 40px 0;
    margin-top: -100px;
  }

  .productItems ul {
    margin-bottom: 40px;
  }

  .productItems ul li {
    text-align: center;
    display: block;
    padding: 3px 0;
    margin: 0;
  }

  .productItems .content {
    margin: 0;
  }

  .productItems .contentL,
  .productItems .contentR {
    height: 1150px;
  }

  .productItems .contentL .box:nth-child(1),
  .productItems .contentL .box:nth-child(2),
  .productItems .contentL .box:nth-child(3),
  .productItems .contentR .box:nth-child(1),
  .productItems .contentR .box:nth-child(2),
  .productItems .contentR .box:nth-child(3) {
    width: 100%;
    display: block;
    float: none;
    height: 33.3%;
  }

  .productItems .contentL .item,
  .productItems .contentR .item {
    max-width: 100%;
  }

  .productItems .contentL .item .productTitle,
  .productItems .contentR .item .productTitle {
    position: static;
    opacity: 1;
    height: 30%;
    overflow: hidden;
  }

  .productItems .contentL .item .productTitle h4,
  .productItems .contentR .item .productTitle h4 {
    margin-bottom: 10px;
  }

  .productItems .contentL .item .productTitle .productActions,
  .productItems .contentR .item .productTitle .productActions {
    display: none;
  }

  .productItems .contentL .item .productTitle p,
  .productItems .contentR .item .productTitle p {
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .productItems .contentL .item .productImg,
  .productItems .contentR .item .productImg {
    height: 70%;
  }

  .productItems .contentR .box:nth-child(3) {
    width: 100%;
    float: none;
    height: 33.3%;
  }

  .productItems .contentR .box:nth-child(3) .item {
    max-width: 100%;
  }
}

.lookBook {
  height: 528px;
  width: 100%;
  padding: 60px 0 124px 0;
  background-color: #fff;
}

.lookBook .container2 {
  max-width: 2000px;
}

.lookBook-item:nth-child(2) {
  margin: 0 2%;
}

.lookBook-item {
  width: 32%;
  float: left;
  height: 100%;
  display: inline-block;
  background-color: #f8f8f8;
  position: relative;
}

.lookBook-item .itemTitle {
  text-align: right;
  width: 56%;
  max-width: 310px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8%;
}

.lookBook-item .itemTitle h3 {
  font-size: 48px;
  color: #575153;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 400;
}

.lookBook-item .itemTitle h3 span {
  display: block;
  font-weight: bold;
}

.lookBook-item .itemTitle p {
  color: #727272;
  font-size: 15px;
  margin-bottom: 30px;
}

.lookBook-item .itemTitle .view {
  width: 180px;
  height: 58px;
  line-height: 56px;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  color: #737373;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #737373;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lookBook-item .itemTitle .view:hover {
  background-color: #00c8c8;
  color: #fff;
  border-color: #00c8c8;
}

.lookBook-item .itemImg {
  height: 100%;
  overflow: hidden;
  width: 42%;
  position: relative;
  left: 0;
}

.lookBook-item .itemImg img {
  height: 88%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 1800px) {
  .lookBook {
    height: 370px;
  }

  .lookBook-item .itemTitle {
    width: 50%;
  }

  .lookBook-item .itemTitle h3 {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .lookBook-item .itemTitle p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .lookBook-item .itemTitle .view {
    width: 170px;
    height: 48px;
    line-height: 46px;
    letter-spacing: 3px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  .lookBook-item:nth-child(2) {
    margin: 0 1%;
  }

  .lookBook-item {
    width: 32.6%;
  }
}

@media only screen and (max-width: 1200px) {
  .lookBook {
    height: auto;
  }

  .lookBook-item {
    height: 370px;
  }

  .lookBook-item:nth-child(1),
  .lookBook-item:nth-child(2) {
    width: 49%;
  }

  .lookBook-item:nth-child(2) {
    margin: 0 0 20px 2%;
  }

  .lookBook-item:nth-child(3) {
    width: 70%;
    display: block;
    float: none;
    clear: both;
    margin: 0 auto 0 auto;
  }
}

@media only screen and (max-width: 850px) {
  .lookBook {
    padding: 60px 20px 124px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .lookBook-item:nth-child(1),
  .lookBook-item:nth-child(2),
  .lookBook-item:nth-child(3) {
    display: block;
    width: 100%;
    float: none;
    clear: none;
    margin: 0;
  }

  .lookBook-item:nth-child(1) p,
  .lookBook-item:nth-child(2) p,
  .lookBook-item:nth-child(3) p {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .lookBook-item:nth-child(1),
  .lookBook-item:nth-child(2) {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .lookBook {
    padding: 60px 20px 60px 20px;
  }

  .lookBook-item {
    height: auto;
    padding: 70px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .lookBook-item .itemTitle {
    right: 0;
    width: 90%;
    position: static;
    -webkit-transform: none;
    transform: none;
    display: block;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .lookBook-item .itemImg {
    display: none;
  }
}

header {
  height: 145px;
  width: 100%;
}

header .sectionTop {
  height: 45px;
  background-color: #333333;
  padding: 0 0 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header .sectionTop-currency {
  color: #777;
  font-size: 13px;
  display: inline-block;
  padding-top: 15px;
}

header .sectionTop-currency a {
  color: #777;
}

header .sectionTop-currency p,
header .sectionTop-currency ul {
  display: inline-block;
}

header .sectionTop-currency ul::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotateZ(45deg) translateX(-50%);
  transform: rotateZ(45deg) translateX(-50%);
  position: absolute;
  top: 0;
  left: 47%;
  background-color: #fff;
  z-index: -10;
}

header .sectionTop-currency ul {
  position: absolute;
  top: 120%;
  left: 60%;
  z-index: 100;
  display: none;
  line-height: 20px;
  background-color: #fff;
  height: 0;
}

header .sectionTop-currency ul li:hover {
  background-color: #fff;
}

header .sectionTop-currency ul li {
  padding: 5px 0;
}

header .sectionTop-currency ul li a {
  display: block;
  padding: 0 20px;
}

header .sectionTop-account {
  float: right;
  display: inline-block;
}

header .sectionTop-account a:hover {
  color: #00c8c8;
}

header .sectionTop-account a {
  color: #999;
  font-size: 13px;
  margin-right: 30px;
  display: inline;
}

header .sectionTop-account .sign {
  margin-right: 75px;
}

header .sectionTop-account__profile {
  display: inline-block;
  padding: 0 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #00c8c8;
  height: 45px;
  line-height: 45px;
}

header .sectionTop-account__profile a:hover {
  color: #fff;
}

header .sectionTop-account__profile a {
  margin: 0;
  color: #fff;
  vertical-align: middle;
}

header .sectionTop-account__profile .fa-shopping-cart {
  font-size: 20px;
  margin-right: 10px;
}

header .sectionTop-account__profile i {
  font-size: 13px;
  color: #fff;
}

header .sectionBottom {
  height: 100px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 60;
}

header .sectionBottom .logo {
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 100px;
  font-weight: bold;
}

header .sectionBottom .logo span {
  font-weight: 400;
}

header .sectionBottom-rightSection {
  float: right;
  display: inline-block;
  margin-top: 36px;
}

header .sectionBottom-rightSection nav {
  margin-right: 10px;
  display: inline-block;
}

header .sectionBottom-rightSection nav ul li:hover a,
header .sectionBottom-rightSection nav ul li:hover i {
  color: #00c8c8;
}

header .sectionBottom-rightSection nav ul li:nth-child(2) {
  padding-left: 0;
}

header .sectionBottom-rightSection nav ul li:nth-child(5) {
  padding-right: 0;
}

header .sectionBottom-rightSection nav ul .nav-currency {
  display: none;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

header .sectionBottom-rightSection nav ul li:hover .underList {
  display: block;
  -webkit-animation: fadeInDown 0.3s ease;
  animation: fadeInDown 0.3s ease;
}

header .sectionBottom-rightSection nav ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  padding-bottom: 20px;
  position: relative;
}

header .sectionBottom-rightSection nav ul li a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}

header .sectionBottom-rightSection nav ul li i {
  display: block;
}

header .sectionBottom-rightSection nav ul li .underList {
  display: none;
  width: 465px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 00px 10px 60px -25px;
  box-shadow: 00px 10px 60px -25px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 0;
  -webkit-animation: fadeInDown 0.3s ease;
  animation: fadeInDown 0.3s ease;
}

header .sectionBottom-rightSection nav ul li .underList ul:nth-child(2) {
  width: 40%;
}

header .sectionBottom-rightSection nav ul li .underList ul {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

header .sectionBottom-rightSection nav ul li .underList ul li {
  display: block;
  padding: 0;
}

header .sectionBottom-rightSection nav ul li .underList ul li a {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 0;
  display: block;
  color: #000;
}

header .sectionBottom-rightSection nav ul li .underList ul li a:hover {
  color: #00c8c8;
}

header .sectionBottom-rightSection nav ul li .underList ul .ulH {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 0;
}

header .sectionBottom-rightSection nav ul li .underList .sale:hover {
  opacity: 0.8;
}

header .sectionBottom-rightSection nav ul li .underList .sale {
  display: block;
  margin-top: 30px;
}

header .sectionBottom-rightSection nav ul li .underList .sale img {
  max-width: 100%;
}

header .sectionBottom-rightSection nav ul li:nth-child(6) .underList {
  left: -100px;
}

header .sectionBottom-rightSection nav ul li:nth-child(6) .underList ul {
  width: 55%;
}

header .sectionBottom-rightSection nav ul li:nth-child(6) .underList ul:nth-child(2) {
  width: 40%;
}

header .sectionBottom-rightSection .search {
  display: inline-block;
  vertical-align: top;
  width: 190px;
}

header .sectionBottom-rightSection .search .searchCancel {
  display: none;
}

header .sectionBottom-rightSection .search input::-webkit-input-placeholder {
  color: #989898;
  font-size: 13px;
}

header .sectionBottom-rightSection .search input:-moz-placeholder {
  color: #989898;
  font-size: 13px;
}

header .sectionBottom-rightSection .search input::-moz-placeholder {
  color: #989898;
  font-size: 13px;
}

header .sectionBottom-rightSection .search input:-ms-input-placeholder {
  color: #989898;
  font-size: 13px;
}

header .sectionBottom-rightSection .search input,
header .sectionBottom-rightSection .search button {
  width: 155px;
  height: 30px;
  padding: 0 10px;
  float: left;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  background-color: #f8f8f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #989898;
}

header .sectionBottom-rightSection .search button {
  width: 35px;
  border-left: none;
}

header .sectionBottom-rightSection .search input {
  border-right: none;
}

header .sectionBottom-rightSection .humburger {
  display: none;
}

@media only screen and (min-width: 1399px) {
  header .sectionBottom-rightSection nav {
    margin-right: 110px;
  }
}

@media only screen and (max-width: 1200px) {
  header .sectionBottom-rightSection nav {
    position: absolute;
    width: 0;
    min-height: 80vh;
    padding: 40px 0;
    margin: 0;
    top: 0;
    right: -30px;
    z-index: 500;
    background-color: #f8f8f8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  header .sectionBottom-rightSection nav ul {
    width: 240px;
    margin-top: 50px;
  }

  header .sectionBottom-rightSection nav ul li:nth-child(2) {
    padding-left: 25px;
  }

  header .sectionBottom-rightSection nav ul li:nth-child(6) .underList ul {
    width: 100%;
  }

  header .sectionBottom-rightSection nav ul li:nth-child(6) .underList ul:nth-child(2) {
    width: 100%;
  }

  header .sectionBottom-rightSection nav ul li {
    display: block;
    padding: 5px 0 5px 25px;
  }

  header .sectionBottom-rightSection nav ul li i {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
  }

  header .sectionBottom-rightSection nav ul li .underList {
    display: block;
    position: static;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  header .sectionBottom-rightSection nav ul li .underList .sale {
    display: none;
  }

  header .sectionBottom-rightSection nav ul li .underList ul {
    display: block;
    padding: 8px 0 5px 10px;
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  header .sectionBottom-rightSection nav ul li .underList ul li a {
    padding-left: 10px;
  }

  header .sectionBottom-rightSection nav ul li .underList ul .ulH {
    padding-left: 0;
    padding-bottom: 10px;
  }

  header .sectionBottom-rightSection nav ul li .underList ul:nth-child(2) {
    width: 100%;
  }

  header .sectionBottom-rightSection nav ul .nav-currency {
    display: block;
  }

  header .sectionBottom-rightSection nav ul .nav-currency a {
    font-weight: 400;
    font-size: 14px;
  }

  header .sectionBottom-rightSection nav ul .nav-currency .underList {
    height: 0;
    width: 100px;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 5px 0 0 37px;
  }

  header .sectionBottom-rightSection nav ul .nav-currency .underList li {
    padding: 5px 0;
    display: block;
  }

  header .sectionBottom-rightSection nav ul .nav-currency .underList li a {
    color: #000;
  }

  header .sectionBottom-rightSection nav ul .activeList .underList {
    height: auto;
    padding: 10px 0;
    margin: 10px 0;
  }

  header .sectionBottom-rightSection nav ul .activeList .currency {
    margin: 5px 0 0 37px;
  }

  header .sectionBottom-rightSection .menuToggle {
    width: 280px;
  }

  header .sectionBottom-rightSection .humburger {
    display: inline-block;
    vertical-align: -10px;
    width: 30px;
    height: 20px;
    position: relative;
    background-color: transparent;
    margin-left: 40px;
    outline: 0;
    z-index: 510;
  }

  header .sectionBottom-rightSection .humburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #989898;
    position: absolute;
    top: 50%;
    margin-top: -1px;
  }

  header .sectionBottom-rightSection .humburger span::before,
  header .sectionBottom-rightSection .humburger span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #989898;
    position: absolute;
    top: -8.5px;
    margin-top: -1px;
  }

  header .sectionBottom-rightSection .humburger span::after {
    top: 9.5px;
  }

  header .sectionBottom-rightSection .humburgerToggle span {
    background-color: transparent;
  }

  header .sectionBottom-rightSection .humburgerToggle span::before,
  header .sectionBottom-rightSection .humburgerToggle span::after {
    top: 0;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }

  header .sectionBottom-rightSection .humburgerToggle span::after {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
}

@media only screen and (max-width: 760px) {
  header .sectionTop-account .reg {
    margin-right: 0;
  }

  header .sectionTop-account .sign {
    margin-right: 30px;
  }

  header .sectionTop-account .sign::before {
    content: '|';
    display: inline;
    margin-right: 3px;
  }

  header .sectionBottom-rightSection .search {
    position: relative;
    width: 35px;
  }

  header .sectionBottom-rightSection .search input:focus {
    width: 200px;
    z-index: 0;
    padding-right: 40px;
    background-color: #fff;
  }

  header .sectionBottom-rightSection .search input {
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    border-right: 1px solid #e7e7e7;
    background-color: transparent;
  }

  header .sectionBottom-rightSection .search input::-webkit-input-placeholder {
    color: transparent;
  }

  header .sectionBottom-rightSection .search input:-moz-placeholder {
    color: transparent;
  }

  header .sectionBottom-rightSection .search input::-moz-placeholder {
    color: transparent;
  }

  header .sectionBottom-rightSection .search input:-ms-input-placeholder {
    color: transparent;
  }

  header .sectionBottom-rightSection .search button {
    border: none;
    z-index: 50;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 45px;
  }

  header .sectionTop .reg,
  header .sectionTop .sign {
    display: none;
  }

  header .sectionTop-currency {
    display: none;
  }

  header .sectionTop-account__profile {
    position: relative;
    z-index: 50;
    padding: 0 25px 0 15px;
    background-color: transparent;
  }

  header .sectionTop-account__profile .fa-shopping-cart {
    margin-right: 5px;
    font-size: 24px;
    color: #989898;
  }

  header .sectionTop-account__profile i {
    color: #989898;
  }

  header .sectionTop-account__profile .shoppStatus {
    display: none;
  }

  header .sectionBottom {
    position: absolute;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 50;
    padding: 0 20px;
  }

  header .sectionBottom .logo {
    display: inline-block;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 0;
    color: #fff;
    overflow: hidden;
    color: #eee;
    width: 39px;
  }

  header .sectionBottom .logo span {
    display: none;
  }

  header .sectionBottom-rightSection {
    margin-top: 8px;
    position: absolute;
    top: 0;
  }

  header .sectionBottom-rightSection nav {
    left: -20px;
    top: -8px;
    right: auto;
    min-height: 100vh;
  }

  header .sectionBottom-rightSection .humburger {
    float: left;
    margin-top: 4px;
    margin-left: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  header .sectionBottom-rightSection .search {
    margin-left: 20px;
  }

  header .sectionBottom-rightSection .search input {
    border: none;
    background-color: transparent;
  }

  header .sectionBottom-rightSection .search input:focus {
    width: 35px;
  }

  header .sectionBottom-rightSection .search button {
    background-color: transparent;
  }

  header .sectionBottom-rightSection .activeSearch::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 45px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  header .sectionBottom-rightSection .activeSearch {
    position: fixed;
    top: 60px;
    left: 0;
    margin: 0;
    margin: 0 5%;
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 50;
    height: 30px;
  }

  header .sectionBottom-rightSection .activeSearch input {
    width: 75%;
    right: auto;
    left: 0;
    background-color: #fff;
    padding-right: 40px;
  }

  header .sectionBottom-rightSection .activeSearch input:focus {
    width: 75%;
  }

  header .sectionBottom-rightSection .activeSearch button {
    left: auto;
    right: 0;
    position: absolute;
    margin: 0;
    background-color: transparent;
    z-index: 100;
  }

  header .sectionBottom-rightSection .activeSearch .searchCancel {
    display: block;
    width: 25%;
    min-width: 70px;
    text-align: right;
    color: #fff;
    z-index: 100;
  }

  header .sectionBottom-rightSection .activeSearch .fa-search {
    right: 25%;
    margin: 0;
  }
}

footer {
  background-color: #f8f8f8;
  padding-top: 60px;
}

footer .linkSection ul:nth-child(5) {
  width: 21%;
  font-size: 14px;
}

footer .linkSection ul {
  width: 19.75%;
  display: inline-block;
  float: left;
  margin-bottom: 62px;
}

footer .linkSection ul address {
  font-style: normal;
  color: #727272;
}

footer .linkSection ul .ulH {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 32px;
}

footer .linkSection ul .ulH a {
  color: #575153;
  font-size: 13px;
}

footer .linkSection ul li {
  margin-bottom: 16px;
}

footer .linkSection ul li a {
  color: #727272;
  font-size: 14px;
}

footer .linkSection ul li a:hover {
  color: #00c8c8;
}

footer .bannerSection {
  margin-bottom: 54px;
}

footer .bannerSection .bannerFirst,
footer .bannerSection .bannerSecond {
  width: 49%;
  display: inline-block;
  float: left;
  height: 198px;
}

footer .bannerSection .bannerFirst {
  background-color: #333;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .bannerSection .bannerFirst p {
  font-size: 36px;
}

footer .bannerSection .bannerFirst p span {
  display: block;
  font-weight: bold;
}

footer .bannerSection .bannerSecond {
  margin-left: 2%;
  background-color: #00c8c8;
  line-height: 198px;
}

footer .bannerSection .bannerSecond ul {
  width: 53%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .bannerSection .bannerSecond ul li {
  display: inline-block;
}

footer .bannerSection .bannerSecond ul li a {
  color: #fff;
  font-size: 36px;
}

footer .copyright {
  background-color: #333;
  height: 45px;
}

footer .copyright sup {
  font-size: 8px;
}

footer .copyright .container {
  position: relative;
}

footer .copyright p {
  display: inline-block;
  line-height: 45px;
  color: #999;
  font-size: 13px;
}

footer .copyright p:nth-child(2) {
  margin-right: 185px;
}

footer .copyright p:nth-child(2),
footer .copyright p:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
}

footer .copyright a {
  color: #999;
  font-size: 13px;
}

@media only screen and (max-width: 1170px) {
  footer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  footer .linkSection {
    padding: 0 40px 0 40px;
    width: 80%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  footer .linkSection ul {
    width: 33%;
    text-align: left;
  }

  footer .linkSection ul:nth-child(1),
  footer .linkSection ul:nth-child(2),
  footer .linkSection ul:nth-child(3) {
    margin-bottom: 20px;
  }

  footer .linkSection ul:nth-child(5) {
    width: 40%;
  }

  footer .bannerSection {
    padding: 0px 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  footer .bannerSection .bannerFirst {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  footer .copyright {
    padding: 0px 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 900px) {
  footer .linkSection {
    width: 90%;
  }

  footer .linkSection ul:nth-child(5) {
    width: 50%;
  }

  footer .bannerSection .bannerFirst,
  footer .bannerSection .bannerSecond {
    float: none;
    width: 100%;
    margin: 0;
  }

  footer .bannerSection .bannerSecond {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 760px) {
  footer .linkSection ul {
    width: 50%;
  }

  footer .copyright {
    height: auto;
    padding: 20px 0px;
  }

  footer .copyright p {
    width: 100%;
    display: block;
    position: relative;
    line-height: 25px;
    top: auto;
    right: auto;
    text-align: center;
  }

  footer .copyright p:nth-child(2),
  footer .copyright p:nth-child(3) {
    position: static;
  }
}

@media only screen and (max-width: 630px) {
  footer .linkSection {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  footer .linkSection ul {
    width: 100%;
  }

  footer .linkSection ul .ulH {
    margin-bottom: 15px;
  }

  footer .linkSection ul li {
    margin-bottom: 10px;
  }

  footer .linkSection ul:nth-child(1),
  footer .linkSection ul:nth-child(2),
  footer .linkSection ul:nth-child(3),
  footer .linkSection ul:nth-child(4) {
    margin-bottom: 20px;
  }

  footer .linkSection ul:nth-child(5) {
    width: 100%;
  }

  footer .bannerSection {
    padding: 0 20px;
  }

  footer .bannerSection .bannerFirst,
  footer .bannerSection .bannerSecond {
    height: 120px;
  }

  footer .bannerSection .bannerFirst p {
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
  }

  footer .bannerSection .bannerSecond ul {
    width: 75%;
    line-height: 120px;
  }

  footer .bannerSection .bannerSecond ul li a {
    font-size: 28px;
  }
}